name: Deploy to Hugging Face (Docker)

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Get code
      uses: actions/checkout@v4

    - name: Login to Hugging Face
      env:
        HF_TOKEN: ${{ secrets.HF_TOKEN }}
      run: |
        echo "$HF_TOKEN" | docker login -u hf --password-stdin https://huggingface.co

    - name: Build Docker image
      run: |
        docker build -t advanced-todo-backend src/backend/.

    - name: Tag image for Hugging Face
      env:
        HF_USERNAME: ${{ secrets.HF_USERNAME }}
        HF_SPACE_NAME: ${{ secrets.HF_SPACE_NAME }}
      run: |
        docker tag advanced-todo-backend:latest huggingface.co/$HF_USERNAME/$HF_SPACE_NAME:latest

    - name: Push image to Hugging Face Space
      env:
        HF_USERNAME: ${{ secrets.HF_USERNAME }}
        HF_SPACE_NAME: ${{ secrets.HF_SPACE_NAME }}
      run: |
        docker push huggingface.co/$HF_USERNAME/$HF_SPACE_NAME:latest
